:host {
	display: block;

	.mat-toolbar {
		background-color: var(--mat-sys-secondary-container);
		color: var(--mat-sys-on-secondary-container);
		// background-color: var(----mat-sys-outline);
		// color: var(--mat-sys-on-outline);
		gap: 5px;
	}

	.container {
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	.container > * {
		flex: 0 0 auto;
	}

}