<header>
    <section class="container">
        <img id="app-logo" src="./app-logo.png" alt="logo" />
        <span id="app-title">{{ title }}</span>
    </section>

    @if (isAuthenticated()) {
        <section id="user-info" class="container">
            <span i18n="@@welcome">Welcome {{ username() }}</span>
            <mat-divider [vertical]="true"></mat-divider>
            <button mat-raised-button (click)="signout()">
                <mat-icon>logout</mat-icon>
                <span i18n="@@signout">Sign out</span>
            </button>
        </section>
    } @else {
        <section id="user-info" class="container">
            <button mat-raised-button (click)="signin()">
                <mat-icon>login</mat-icon>
                <span i18n="@@signin">Sign in</span>
            </button>
        </section>
    }
</header>
